<main class="w-full flex h-screen bg-gray-50 ">
    <section class="w-full lg:w-1/2 h-full flex justify-center p-10">

        <div class="w-full h-auto max-w-md flex flex-col justify-center">
            <!-- TITLE -->
            <div class="mb-8">
                <h1 class="text-4xl lg:text-5xl font-bold text-black leading-tight">
                    Boas vindas a
                    <span class="text-primary-500">MyCarsHub.</span>
                </h1>
                <p class="text-sm mt-2 text-neutral-500">
                    {{ description }}
                </p>
            </div>

            <!-- GOOGLE BUTTON -->
            <button (click)="summitGoogle()" type="button" class="w-full bg-white border border-neutral-200 rounded-xl py-3 px-4 text-sm font-medium
                       flex items-center justify-center gap-3 shadow-sm cursor-pointer
                       transition-all duration-300 hover:bg-neutral-50">
                <img src="png/google-logo.png" class="w-5 h-5" alt="Google Icon" />
                <span class="text-sm font-medium">{{ googleBtnText }}</span>
            </button>


            <!-- DIVIDER -->
            <span class="w-full text-center text-neutral-400 text-sm my-4">ou</span>

            <div class="w-full">
                <ng-content></ng-content>
            </div>

            <!-- LOGIN BUTTON -->
            <button (click)="submit()" [disabled]="disablePrimaryBtn" class="w-full mt-6 bg-primary-500 text-white rounded-xl py-3 font-semibold
                        shadow-md cursor-pointer
                        transition-all duration-300 ease-in-out
                        hover:bg-primary-600 hover:shadow-lg hover:-translate-y-0.5
                        active:scale-95 disabled:opacity-50">
                {{ primaryBtnText }}
            </button>

            <p class="w-full text-center text-sm text-neutral-500 mt-6">
                {{ navigateText }}
                <span (click)="navigate()"
                    class="text-primary-500 font-medium cursor-pointer hover:text-primary-600 transition">
                    {{ navigateBtnText }}
                </span>
            </p>

        </div>
    </section>

    <!-- RIGHT SIDE -->
    <section class="w-full hidden lg:flex lg:w-1/2">
        <div class="w-full relative h-11/12 m-12 bg-white rounded-3xl shadow-xl p-16 flex items-center justify-center">
            <img src="svg/logo-my-cars-hub.svg" class="max-w-sm w-full h-auto object-contain" alt="MyCarsHub Logo" />
        </div>
    </section>
</main>